<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Twig</title>
    </head>
    <body>
        {% for item in tempData %}
          {% if item.name == name %}
            <img src="{{ item.src }}" alt="{{ item.name }}">
          {% endif %}
        {% endfor %}
    </body>
</html>