<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Twig</title>
    </head>
    <body>
        {% for item in tempData %}
          <a href="index.php?image={{ item.name }}" target="index.php">
            <img src="{{ item.src }}" alt="{{ item.name }}" width="400">
          </a>
        {% endfor %}
    </body>
</html>
